PORT=8084
AGENT_ENDPOINT=
MONGODB_MCP_URL=http://localhost:8082
EVENT_HUB_URL=http://localhost:8080
MODEL_ENDPOINT=
MODEL_NAME=qwen3-32b-fp8-dynamic
MODEL_API_KEY=
LOG_LEVEL=INFO
CONFIG_SERVICE_URL=http://localhost:8081
