PORT=8086
AGENT_ENDPOINT=
MODEL_ENDPOINT=
MODEL_NAME=qwen25-coder-32b-fp8
EVENT_HUB_URL=http://localhost:8080
IMAGEGEN_MCP_URL=http://localhost:8083
LOG_LEVEL=INFO
CONFIG_SERVICE_URL=http://localhost:8081
